/* Reset the page margin and center everything */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  transition: background-color 0.5s ease;
}

/* Hidden Anniversary Text */
#annivText {
  opacity: 0;
  visibility: hidden;
  color: white;
  font-size: 22px;
  margin-top: 20px;
  text-shadow: 0 0 10px rgba(255,255,255,0.7);
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

/* Show effect wehn toggled */
#annivText.show {
  opacity: 1;
  visibility: visible;  
}

.card {
  background-color: slategrey;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  width: 250px;
}

/* Title style */
h2 {
  color: #000;
}

p {
  color: white;
  font-size: 15px;
}

/* Button style */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #888;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
  background-color: #000 ;
}
