/* Reset the page margin and center everything */
body {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
  transition: background-color 0.5s ease;
}

.card {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: slategrey;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  width: 250px;
}

/* Title style */
h1 {
  color: #000;
  margin-top: 50px;
}

/* Paragraph style */
p {
  color: white;
  font-size: 15px;
}

/* Button style */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #888;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
  background-color: #000000;
}
